<%- include('./partials/header') %>
    <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./../css/blog.css">

    <title>
        <%= category %> - Code Runners
    </title>
    </head>

    <body>

        <%- include("./partials/nav") %>

            <div class="category-page">
                <%= category %>
            </div>

            <div class="blog-page-container">

                <div class="blog-wrapper">
                    <div class="blog-container">
                        <% blogs.forEach((blog)=> { %>
                            <div class="individual-blog-container">
                                <div class="blog-img">
                                    <a href="/blog/<%= blog.titleSlug %>"><img src="../thumbnail/<%= blog.thumbnail %>"
                                            alt="blog-thumbnail" class="thumbnail"></a>
                                </div>

                                <div class="blog-content">
                                    <div class="category-blog"><a href="/category/<%= blog.categorySlug %>">
                                            <%= blog.category %>
                                        </a></div>
                                    <div class="blog-title">
                                        <a href="/blog/<%= blog.titleSlug %>">
                                            <%= blog.title %>
                                        </a>
                                    </div>
                                    <div class="blog-description">
                                        <%= blog.description %>
                                    </div>

                                    <div class="date-container">
                                        <div class="comment"><a href="/blog/<%= blog.titleSlug %>#comment"><i
                                                    class="far fa-comment"></i>
                                                <%= blog.commentNo %> Comments
                                            </a>
                                        </div>

                                        <div class="date">
                                            <%= blog.createdAt %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% }) %>

                    </div>

                    <!-- <div class="pagination-container">
                    <a href="#" class="pagination-item">1</a>
                    <a href="#" class="pagination-item">2</a>
                    <a href="#" class="pagination-item">3</a>
                    <a href="#" class="pagination-item">4</a>
                    <a href="#" class="pagination-item">5</a>
                    <a href="#" class="pagination-item"><i class="fas fa-angle-double-right"></i></a>
                </div> -->

                </div>

                <div class="container">

                    <div class="recent-post-wrapper">

                        <div class="recent-post-container">

                            <div class="recent-post">Recent Posts</div>

                            <% blogs.forEach((blog)=> { %>
                                <div class="post-container">
                                    <div class="post-img-container">
                                        <a href="/blog/<%= blog.titleSlug %>">
                                            <img src="../thumbnail/<%= blog.thumbnail %>" alt="blog-thumbnail">
                                        </a>
                                    </div>

                                    <div class="post-content-container">
                                        <div class="post">
                                            <a href="/blog/<%= blog.titleSlug %>">
                                                <%= blog.title %>
                                            </a>
                                        </div>
                                        <div class="post-date-container">
                                            <div class="post-date">
                                                <%= blog.createdAt %> / <a href="/blog/<%= blog.titleSlug %>#comment">
                                                        <%= blog.commentNo %> COMMENTS
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>

                    </div>


                    <div class="newsletter-wrapper">
                        <div class="news-letter-container">
                            <div class="newsletter">Newsletter</div>
                            <div class="newsletter-content">
                                Get all latest content delivered to your email a few times a month. Updates and news
                                about
                                all
                                categories will send to you.
                            </div>
                            <form action="/newsletter" method="POST" class="newsletter-form">
                                <div class="newsletter-form-group"><input type="text" name="email"
                                        placeholder="Your Email">
                                </div>
                                <div class="newsletter-form-group">
                                    <button type="submit" class="newsletter-btn">GO</button>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="categories-wrapper">
                        <div class="categories-container">
                            <div class="categories">CATEGORIES</div>
                            <ul>
                                <% categories.forEach((category)=> { %>
                                    <li class="categories-content"><a href="/category/<%= category.categorySlug %>">
                                            <%= category.uniqueCategory %>
                                        </a></li>
                                    <% }) %>
                            </ul>
                        </div>
                    </div>

                    <div class="advertise-container">
                        <div class="advertise-img-container">
                            <img src="../images/blog5.jpg" alt="ads">
                        </div>
                    </div>

                </div>


            </div>



            <%- include('./partials/footer') %>


                <script src="../js/navbar.js"></script>
    </body>

    </html>